<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title><%=country%></title>
  <meta name="author" content="You">
  <meta name="description" content="A compendium of Harry Potter characters">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <h1><%=country%></h1>
  </header>
  <section id="energy-stats">
  <h2>Stats</h2>
  <ul>
    <%  for (let i = 1966; i < 2022; i++) { %>
      <li><%=i%>: <%= data[i] %></li>

    <%}%>


  </ul>
  </section>

  <%- include ('global/footer');  %>

</body>

</html>
