<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Harry Potter Characters</title>
  <meta name="author" content="You">
  <meta name="description" content="A compendium of Harry Potter characters">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <h1>Harry Potter Characters</h1>
  </header>
  <section id="country-table">
    <table>
      <tr>
        <th>Country</th>
        <th>Code</th>
        <th>Year</th>
        <th>Renewables (% growth)</th>
      </tr>
      <% for(let country in data){ %>
      <tr>
        <td><a href="<%=data[character].link%>.html"><%= country %></a></td>
        <%  for (let i = 1966; i < 2022; i++) { %>
        <td>Year: <%=i%></td>
        <td>Energy: <%= data[country][i] %></td>
        <%}%>

      </tr>
      <%}%>
    </table>
  </section>

  <%- include ('global/footer');  %>

</body>

</html>
