<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Renewable Energy Worldwide</title>
  <meta name="author" content="Becca + Aarav">
  <meta name="description" content="A organized display of the change in renewable energy around the world">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
  </head>
</head>

<body>
  <%- include ('global/navbar', {data:data});  %>

  <header>
    <h1>Change in Renewable Energy Around the World Over Time</h1>
    <h4>Our project provides viewers with insight on the progress of various countries with respect to renewable energy over time. Our format allows the </h4>
    <h4>viewer to get both a clear visual of worldwide energy change in 2021 (macro page) and a change over time breakdown of each individual country (micro pages).</h4>
  </header>

  <div id="tester" style="width:100%;height:650px;"></div>

  <script>


     let latest_energy = [-7.88, 1.98355,19.9781, 1.16989, 15.81233, 3.801548, 5.551707, 0.39758, -0.42253,21.96866,-0.785928, 3.17053,12.3881578,  20.21107, 22.83259582519, 0, 2.459943294, 11.123048, 4.69413, 2.058434, 13.07741355895, 6.839597, 0.16540288, -6.267, 23.5677242, 1.73870, 24.24837303, 2.58159637, 6.195461, 8.8137149, -33.154,-2.119362354, -14.7667, 29.93739, 0.371110439,6.5276980, 1.1103,  0, 0.71442, -5.87464570, 8.1514, 15.523231, 15.523231, 17.0219, 10.972666, 13.44090, 0.935173, 10.7946, 2.84519, 0, -2.7403, 4.518151, 5.6753396, 8.782064, 5.1910, 0, 5.20421, 1.850, 0, 0,1.369404, -4.882091, 9.203, 19.741392, 8.3963871, 9.315061, 38.51, 3.48157, -1.75, 16.72, -0.56480, -0.273215, -8.6727027893, 25.642860, 0, 26.3872, 0, -9.6736612319, 7.049, 10.6468, -0.09239, 21.976];
     let countriesID = ["DZA", "ARG","AUS",  "AUT", "AZE","BGD", "BLR", "BEL", "BRA", "BGR", "CAN","CHL", "CHN", "COL", "HRV", "CYP", "CZE", "DNK", "ECU","EGY","EST", "FIN",  "FRA","DEU", "GRC","HKG", "HUN", "ISL", "IND", "IDN", "IRN", "IRQ", "IRL", "ISR", "ITA", "JPN", "KAZ", "KWT", "LVA", "LTU", "LUX","MYS", "MEX", "MAR","NZL","MKD", "NOR", "OMN", "PAK", "PER","PHL", "POL","PRT", "QAT", "ROU", "RUS", "SAU", "SGP","SVK","SVN",  "ZAF", "KOR","ESP", "LKA","SWE", "CHE", "TWN", "THA", "TTO", "TUR","TKM", "OWID_USS", "UKR","ARE","GBR", "USA", "UZB", "VEN", "VNM"];


    let graph_data = [{
     type: "choroplethmapbox",
     name: 'country names',

     geojson: "https://raw.githubusercontent.com/johan/world.geo.json/master/countries.geo.json",

     locations: countriesID,
 
     z: latest_energy,
      zmin: -150,
      zmax: 150,
      colorbar: {
        y: 0,
        yanchor: "bottom",
        title: {
          text: "Renewables (% Growth)",
          side: "right"
        }
       }
      }];


     var layout = {
       mapbox: {
         style: "dark",
         center: {
           lon: -110,
           lat: 50
         },
         zoom: 0.8
       },
         width: 1000,
         height: 600,
         margin: {
           t: 0,
           b: 0}
      };


     var config = {
       mapboxAccessToken: "pk.eyJ1IjoiYmVjY2FqampqIiwiYSI6ImNsYjQ4amZxdjA2M3czc2wwZjhncm1lbDEifQ.8tYCMEE_7bhW7-ZmFwRfGw"
     };

     Plotly.newPlot('tester', graph_data, layout, config);


  </script>

      <p>   Our data reveals the following about renewable energy change in 2021: </p>
      <p>       - Very few countries have had changes in renewables</p>
      <p>       - No countries have made significant progress in renewables </p>
      <p>       - Many countries in or near Europe have had setbacks in renewables </p>

  <section id="country-table">
    <table>
      <tr>
        <th>Country</th>
        <%  for (let i = 1966; i < 2022; i++) { %>
        <th>Renewables (% growth) in <%=i%></th>
        <% } %>

      </tr>
     <% for(let country in data){ %>
      <tr>
        <td><a href="<%=data[country].link%>.html"><%= country %></a></td>
        <%  for (let i = 1966; i < 2022; i++) { %>
        <td><%= data[country][i] %></td>

        <%}%>

      </tr>
      <%}%>
    </table>
  </section>


  <%- include ('global/scripts');  %>
  <%- include ('global/footer');  %>

  </body>

</html>
