<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Harry Potter Characters</title>
  <meta name="author" content="You">
  <meta name="description" content="A compendium of Harry Potter characters">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>

</head>

<body>
  <%- include ('global/navbar');  %>

  <header>
    <h1>All the Countries</h1>
    <h1>Energy Growth percentages each year</h1>
  </header>
  <section id="country-table">
    <table>
      <tr>
        <th>Country</th>
        <%  for (let i = 1966; i < 2022; i++) { %>
        <th>Renewables (% growth) in <%=i%></th>
        <%}%>
        <!-- <th>Year</th> -->
        <!-- <th>Renewables (% growth)</th> -->
      </tr>
      <% for(let country in data){ %>
      <tr>
        <td><a href="<%=data[country].link%>.html"><%= country %></a></td>
        <%  for (let i = 1966; i < 2022; i++) { %>
        <td><%= data[country][i] %></td>
        <%}%>

      </tr>
      <%}%>
    </table>
  </section>

  <div id="tester" style="width:90%;height:500px;"></div>

  <script>
     let countries = [];
     let latest_energy = [];

     <% for(let i = 0; i < data.length; i++){ %>
       countries[<%=i%>] = <%=data[i]%>;
       latest_energy[<%=i%>] = <%=data[i][data.length-1]%>;
     <%}%>

     // let graph_data = [{
     //  type: "choroplethmapbox",
     //  // name: "US states",
     //  locationmode: 'country names',
     //
     //  geojson: "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json",
     //  locations: countries,
     //  z: latest_energy,
     //
     //  zmin: -150,
     //  zmax: 150,
     //  colorbar: {
     //    y: 0,
     //    yanchor: "bottom",
     //    title: {
     //      text: "world map",
     //      side: "right"
     //    }
     //   }
     //  }];
     //
     //
     // var layout = {
     //   mapbox: {
     //     style: "light",
     //     center: {
     //       lon: -110,
     //       lat: 50
     //     },
     //     zoom: 0.8
     //   },
     //     width: 600,
     //     height: 400,
     //     margin: {
     //       t: 0,
     //       b: 0}
     //  };
     //
     //
     // var config = {
     //   mapboxAccessToken: "pk.eyJ1IjoiYmVjY2FqampqIiwiYSI6ImNsYjQ4amZxdjA2M3czc2wwZjhncm1lbDEifQ.8tYCMEE_7bhW7-ZmFwRfGw"
     // };
     //
     // Plotly.newPlot('tester', graph_data, layout, config);

     let graph_data = [{
                 type: 'choropleth',
                 locations: countries,
                 z: latest_energy,
                 text: countries,
                 colorscale: [
                     [0,'rgb(5, 10, 172)'],[0.35,'rgb(40, 60, 190)'],
                     [0.5,'rgb(70, 100, 245)'], [0.6,'rgb(90, 120, 245)'],
                     [0.7,'rgb(106, 137, 247)'],[1,'rgb(220, 220, 220)']],
                 autocolorscale: false,
                 reversescale: true,
                 marker: {
                     line: {
                         color: 'rgb(180,180,180)',
                         width: 0.5
                     }
                 },
                 tick0: 0,
                 zmin: 0,
                 dtick: 1000,
                 colorbar: {
                     autotic: false,
                     // tickprefix: '$',
                     title: 'GDP<br>Billions US$'
                 }
           }];

           let layout = {
               title: 'world energy',
               geo:{
                   showframe: false,
                   showcoastlines: false,
                   projection:{
                       type: 'mercator'
                   }
               }
           };
           var config = {
             mapboxAccessToken: "pk.eyJ1IjoiYmVjY2FqampqIiwiYSI6ImNsYjQ4amZxdjA2M3czc2wwZjhncm1lbDEifQ.8tYCMEE_7bhW7-ZmFwRfGw"
           };
           Plotly.newPlot("tester", graph_data, layout, config);
     // });

  </script>

  <%- include ('global/scripts');  %>
  <%- include ('global/footer');  %>

  </body>

</html>
