<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Harry Potter Characters</title>
  <meta name="author" content="You">
  <meta name="description" content="A compendium of Harry Potter characters">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
<<<<<<< HEAD
    <h1>All the Countries</h1>
=======
    <h1>Energy Growth percentages each year</h1>
>>>>>>> 4b1d0f81c55095b0c5dcf5b88bd0aa298f9cb5a0
  </header>
  <section id="country-table">
    <table>
      <tr>
        <th>Country</th>
        <%  for (let i = 1966; i < 2022; i++) { %>
        <th>Renewables (% growth) in <%=i%></th>
        <%}%>
        <!-- <th>Year</th> -->
        <!-- <th>Renewables (% growth)</th> -->
      </tr>
      <% for(let country in data){ %>
      <tr>
        <td><a href="<%=data[country].link%>.html"><%= country %></a></td>
        <%  for (let i = 1966; i < 2022; i++) { %>
        <td><%= data[country][i] %></td>
        <%}%>

      </tr>
      <%}%>
    </table>
  </section>

  <%- include ('global/footer');  %>

</body>

</html>
